<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(  
      ~{::title},
      ~{:: #menu-static-resources},
      ~{:: #menu-main-content},  
      ~{:: #menu-footer}
      )}">
    <head>
        <title>Menu</title>
        <th:block id="menu-static-resources">
            <style>
                #address span {
                    display: block;
                }
            </style>
        </th:block>
    </head>
    <body >

        <!-- Blog main content -->
        <div id="menu-main-content" class="menu-main-content">
            <h1 class="page-title">Find us</h1>
            <div class="find-us-wrapper">
                <div class="row">
                    <div class="col-7">
                        <h4>Address and contact:</h4>
                        <p id="address">
                            <span th:text="${userinfo.title}"/>
                            <span th:text="${userinfo.address}"/>
                        </p>
                        <div class="find-us-content-wrapper">
                            <div class="row">
                                <div class="col-2">Tel:</div>
                                <div class="col-10"><a th:href="'tel:' + ${userinfo.tel}" th:text="${userinfo.tel}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-2">Email:</div>
                                <div class="col-10"><a th:href="'mailto:' + ${userinfo.email}" th:text="${userinfo.email}"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <h4>Opening hours:</h4>
                        <p><th:block th:each="openinghour : ${openinghours}">
                                <!-- Closed -->
                                <span th:if="${openinghour.isClosed == 1}"><span th:text="${openinghour.dayOfWeek}"/> Closed 
                                </span> 
                                <!-- Open -->
                                <span th:if="${openinghour.isClosed == 0}"><span th:text="${openinghour.dayOfWeek}"/> <span th:text="${openinghour.openHours}"/> - <span th:text="${openinghour.closeHours}"/> 
                                </span>
                                <br>
                            </th:block>
                        </p>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dotted grey;"/>
            <div class="container-fluid">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.9573727072693!2d105.7836399141111!3d10.020376475434096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a063850671bacd%3A0x1e478d5a03c3f5!2sNh%C3%A0%20H%C3%A0ng%20Sushi%20Sachi!5e0!3m2!1svi!2s!4v1661755863677!5m2!1svi!2s" 
                        width="100%" 
                        height="400" 
                        style="border:0;" 
                        allowfullscreen="" 
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div> 


        <div id="find-us-footer" th:replace="~{/fragments/app-fragments :: user-tracker}">
            Footer
        </div>

    </body>

</html>